.topbar {
  width: 100%;
  opacity: 0.8;
  height: 3rem;
  background-color: transparent;
  color: var(--menu-color);
  position: fixed;
  z-index: 4;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    flex: 1;
    display: flex;
    flex-direction: row;

    .logo {
      margin-left: 1.9rem;
      font-size: 2.5rem;
      font-weight: 700;
      text-decoration: none;
      color: inherit;
    }
  }
  .Right {
    .hamburger {
      margin-right: 1rem;
      width: 2rem;
      height: 1.7rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      span {
        width: 100%;
        height: 3px;
        background-color: var(--menu-color);
        transform-origin: left;
        transition: all 1s ease;
      }
    }
  }

  &.active {
    background-color: var(--menu-color);
    opacity: 1;
    color: white;
    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
@media only screen and (max-width: 414px) {
  .topbar {
    .left {
      .logo {
        font-size: 1.4rem;
      }
      .itemContainer {
        .icon {
          size: 0.7rem;
        }
        span {
          font-size: 0.7rem;
        }
      }
    }
  }
}
