.intro {
 
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 1252px) {
    flex-direction: column;
  }
  .profil{
    img{
      border-radius: 50%;
      border: 5px solid white;
    }
  }
  .typography {
    text-align: center;
    //width: 100%;

    .s {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    .icons {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      .icon {
        border: 2px solid var(--border-color);
        color: var(--white-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
          border: 2px solid var(--primary-color);
          color: var(--primary-color);
        }
        &:not(:last-child) {
          margin-right: 1rem;
        }
        svg {
          margin: 0.5rem;
        }
      }

      .i-youtube {
        &:hover {
          border: 2px solid cyan;
          color: cyan;
        }
      }
      .i-github {
        &:hover {
          border: 2px solid #5f4687;
          color: #5f4687;
        }
      }
    }

    h1 {
      font-family: "Nunito", sans-serif;
      font-size: 4rem;
      color: var(--white-color);
      span {
        font-size: 4rem;
        color: var(--primary-color);
      }
    }
    p {
      font-family: "Nunito", sans-serif;
      margin: 0;
      color: var(--font-light-color);
      font-size: 1.1rem;
    }

    h3 {
      font-size: 2rem;
      span {
        color: var(--primary-color);
        font-size: inherit;
      }
      .ityped-cursor {
        font-size: 2.2rem;
        opacity: 1;
        -webkit-animation: blink 1s infinite;
        -moz-animation: blink 1s infinite;
        animation: blink 1s infinite;
        animation-direction: alternate;
      }

      @keyframes blink {
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }

  .link {
    button {
      border: 1px solid var(--font-light-color);
      border-radius: 20px;
      cursor: pointer;
      margin: 1rem 0 0 0;
      font-size: 1rem;
      padding: 0.6rem;
      font-family: "Nunito", sans-serif;
      color: var(--white-color);
      background-color: var(--primary-color);
      &:hover {
        color: var(--background-dark-color);
        background-color: var(--white-color);
      }
    }
  }
}
